body {
    background-color: #FFF2E1;
}
header{
 background-color: #EAD8C0;
 height: 50px;
 width: fit-content;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
}
a {
    margin: 20px;
    color: black; 
    text-decoration: none; 
    font-size: 25px;
    font-weight: bold;

  }
  .activ{
    border-bottom:2px solid #A79277 ;
  }
  a:hover{
    color: #D1BB9E;
    border-bottom: 2px solid #A79277;
  }
  /* end header */
   /* style form  */
   form{
    width: 70%;
    margin: 30PX 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   }


    /* style fieldset quantity */
    fieldset {
    border: 1px solid #A79277;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 350px;
    margin-bottom: 15px;
}

 legend {
    font-weight: bold;
    font-size: 25;
    color: #A79277;
}

 input[type="button"] {
    background-color: #D1BB9E;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-size: 20;
}
.quantity{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
}
.acount-order h1{
 color: #A79277;
  font-size: 30px;
}
.acount-order p{
  color: #A79277;
  font-size: 40px;
}

input[type="button"]:hover {
    background-color: #A79277;
}


  /* style fieldset employee */
 
    label{
    font-size: 30;
    color: #A79277;
    font-weight: bold;
  }
  input[type="text"],
  input[type="number"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: none;
  }
  

  
